{{#link-to 'item' item.id}}<div class="item-tile">
  <h3>This is the Item-Tile</h3>
  <p>{{item.name}}</p>
  <img src="{{item.image}}" alt="{{item.name}}" />
  <p>${{item.price}}</p>
</div>
{{/link-to}}
