<form>
  {{input value=author id="author" placeholder="Put it name here."}}
  {{textarea value=comment id="comment" placeholder="Tell me all your thoughts on dog"}}
  <button {{action 'saveReview'}}>Review</button>
</form>
