* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}
input, textarea {
  border: 1px solid darken(#97D8B2, 5%);
  padding: 0.8rem;
  font-size: 0.8rem;
  color: tomato;
}

::-webkit-input-placeholder {
   color: darken(#97D8B2, 5%);
}

:-moz-placeholder { /* Firefox 18- */
   color: darken(#97D8B2, 5%);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: darken(#97D8B2, 5%);
}

:-ms-input-placeholder {
   color: darken(#97D8B2, 5%);
}

.container {
  width: 80vw;
  margin: 0 auto;
  // flex: 1;

}
button {
  padding: 0.8rem 1.8rem;
  margin: 1rem 0 0 0;
  background-color: darken(#97D8B2, 5%);
  border-radius: 4px;
  // color: lighten(black, 25%);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken(#97D8B2, 15%);
    cursor: pointer;
  }
}

.select {
  padding: 0.8rem;
  font-size: 0.8rem;
  width: 100%;
  height: 2rem;
  padding: 0.8rem;
  background-color: white;
  border: 1px solid darken(#97D8B2, 5%);
  color: darken(#97D8B2, 5%);
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//HEADER CLASSES
header {
  display: flex;
  align-items: center;
  background-color: tomato;
  height:12vh;
  width: 100%;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: white;
  }
  .logo {
    border: 5px solid white;
    padding: 0.7rem;
    // background: url('http://gph.is/1Hu37pD');
    background-size: cover;
    transition: all 0.15s ease-in-out;
    p {
      font-size: 1rem;
      color: white;
      font-weight: bold;
    }
    &:hover {
      transform: translate(-5px, -5px);
      background: url('http://i.giphy.com/Vug8xFekRej1m.gif');
      background-position: 50% 15%;
      box-shadow: 10px 10px 1rem darken(tomato, 35%);
      p {
        text-shadow: 2px 2px 0px darken(tomato, 35%);
      }
    }
  }
}


.main {
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.item-tiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // width: 80%;
  border: 1px solid magenta;
  margin: 0 auto;
}

.item-detail {
  width: 100%;
  margin-top: 1rem;
  img {
    max-width: 50%;
    max-height: 40vh;
  }
}

.add-review {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
  width: 100%;
  textarea {
    width: 40%;
  }
  select {
    width: 20%;
    height: 1.8rem;
    color: white;
    background-color: darken(#97D8B2, 5%);
  }
}

.item-review {
  // border: 1px blue solid;
  margin-bottom: 1rem;
}

.cart-display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
// .footer {
//   background-color: tomato;
//   height:8rem;
//   width: 100%;
// }

.item-tile {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  img {
    max-width: 14rem;
  }
  button {
    width: 12rem;
  }
}

//ITEM ROUTE


//ADMIN ROUTE
.add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  input {
    width: 300px;
    margin: 0.8rem 0;
    border-radius: 15px 0 15px 0
  }
}

//INDEX Route
.index-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 88vh;
  background-image: url('http://cdn8.openculture.com/wp-content/uploads/2016/01/19230523/Nietzsche.gif');
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    letter-spacing: 1rem;
    color: tomato;
    text-align: center;
    text-transform: uppercase;
    // text-shadow: 10px 10px 0px tomato;
    font-size: 6rem;
    font-weight: bolder;
    // font-style: italic;
    font-family: 'Work Sans', sans-serif;
  }
}

// CART ROUTE
display-cart {
  display: flex;
  img {
    max-width: 33%;
    max-height: 250px;
  }
  // position: absolute;
}

.cart-products {
  border: 1px solid chartreuse;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  // width: 25%;
  border: 2px solid pink;
  img {
    max-width: 100%;
    max-height: 250px;
  }
}
