<div class="wrapper">
  <header>
    <div class="header container">
      {{#link-to 'index'}}<h1>Home</h1>{{/link-to}}
      {{display-cart item=model}}
    </div>
  </header>

  <section>
    <div class="main container">
      {{outlet}}
    </div>
  </section>

  <footer class='footer'>
  </footer>
</div>
