<div class="wrapper">
  <header>
    <div class="container">
      <div class="header-nav">
        {{#link-to 'index'}}<div class="logo">
          <p>Thought</p><p>Commodity</p>
        </div>{{/link-to}}
        {{#link-to 'admin'}}Admin{{/link-to}}
        {{#link-to 'posters'}}Posters{{/link-to}}
        {{#link-to 'candles'}}Candles{{/link-to}}
        {{#link-to 'inspiration'}}Inspiration{{/link-to}}
        {{#link-to 'floppydisks'}}Floppy Disks{{/link-to}}
        {{#link-to 'shopping-cart'}}Cart{{/link-to}}
      </div>
    </div>
  </header>

<div class="container">
  <!-- <section class=cart-display>
    {{display-cart item=model}}
  </section> -->

  <section class="main">
    <div>
      {{outlet}}
    </div>
  </section>
</div>

  <footer class='footer'>
  </footer>
</div>
