<div class="wrapper">
  <header>
    <div class="header container">
      {{#link-to 'index'}}<h1>Thought Commodity</h1>{{/link-to}}
    </div>
  </header>

<div class="container">
  <section class=cart-display>
    {{display-cart item=model}}
  </section>

  <section class="main">
    <div>
      {{outlet}}
    </div>
  </section>
</div>

  <footer class='footer'>
  </footer>
</div>
